/* style template */
:root {
  --background-color: #ffffff;
  --color-text: #000000;
  --font-size: 1.1em;

  /* fonts */
  --font-sans: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
    Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
    monospace;

  --important-color: #ff7800;
  --color-text-strong: #020617;
  --color-navbar-items: #3391ff;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #181a1b;
    --color-text: #ffffff;
    --color-text-strong: #f8fafc;
  }
}

/* resize navbar on smaller screens */
@media (max-width: 400px) {
  .navbar {
    flex-direction: column;
  }
}

body {
  color: var(--color-text);
  background: var(--background-color);
  font-size: var(--font-size);
  font-family: var(--font-mono);
  max-width: 600px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
}

.navbar li {
  list-style-type: none;
  display: inline-block;
}

.navbar a {
  color: var(--color-navbar-items);
}

.navbar a:hover {
  color: var(--important-color);
}

h1 {
  color: var(--important-color);
  font-family: var(--font-serif);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-strong);
  font-family: var(--font-serif);
}

a {
  color: #ff78a0;
}
