{% extends "base.html" %}            
{% block content %}
<h1>About</h1>

<h2>What I use</h2>
<p><a href="https://www.github.com/boyohboyamibored/dotfiles.git" target="_blank">My dotfiles</a></p>
<ul>
    <li>Distro: <a href="https://www.artixlinux.org" target="_blank"><b>Artix Linux</b></a> with Runit.</li>
    <li>WM: <a href="https://www.hyprland.org" target="_blank"><b>Hyprland</b></a> with <a href="https://github.com/Alexays/Waybar" target="_blank"><b>waybar</b></a>.</li>
    <li>Terminal: <a href="https://sw.kovidgoyal.net/kitty" target="_blank"><b>Kitty</b></a> with <a href="https://zsh.sourceforge.io/" target="_blank"><b>zsh</b></a> as my shell and JetBrains Mono Nerd Font.</li>
    <li>Editor: <a href="https://www.neovim.io" target="_blank"><b>Neovim</b></a> (Vim is love, Vim is life).</li>
    <li>Browser: <a href="https://www.librewolf.net" target="_blank"><b>Librewolf</b></a> with these extensions:</li>
    <ul>
        <li>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/vimium-ff/" target="_blank">Vimium</a> for Vim-like web navigation,</li>
        <li>
            <a href="https://www.ublockorigin.com" target="_blank">uBlock Origin</a> for ad blocking,</li>
        <li>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/localcdn-fork-of-decentraleyes/" target="_blank">Local CDN</a> a fork of decentraleyes,</li>
        <li>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/istilldontcareaboutcookies/" target="_blank">I still don't care about cookies</a> to block cookie requests,</li>
        <li>
            <a href="https://www.darkreader.org" target="_blank">Darkreader</a> for applying dark themes,</li>
        <li>
            <a href="https://www.privacybadger.org" target="_blank">Privacy Badger</a> to block trackers, and</li>
        <li>
            <a href="https://addons.mozilla.org/en-US/firefox/addon/markdown-viewer-chrome/" target="_blank">Markdown Viewer</a> to view markdown files in the browser.</li>
    </ul>
    <li>Ebook reader: <a href="https://www.calibre-ebook.com/" target="_blank"><b>Calibre</b></a></li>
</ul>

<h2>This Website</h2>
<ul>
    <li>The backend is written in Flask, a simple and easy to use Python web framework.</li>
    <li>The frontend is just basic HTML and CSS.</li>
    <li>Written in neovim btw.</li>
    <li>The theme was made on the fly.</li>
</ul>
{% endblock content %}
