{% extends "base.html" %}
{% block content %}
<hr>
<marquee>My Cool Website</marquee>
<hr>

<h1>Hi, I'm Solar</h1>
<p>I'm a GNU/Linux user and computer enthusiast. Welcome to my website, thanks for visiting.</p>
<p>I...</p>
<ul>
    <li>love being honest</li>
    <li>love programming</li>
    <li>like anime</li>
    <li>love FOSS</li>
    <li>love reading and learning</li>
    <li>hate ads</li>
</ul>
<p>On this website you'll find out some of my thoughts and what I've been up to.</p>

<p>Hey, did you notice that...
    <ul>
        <li>You weren't forced (asked) to accept cookies or some policy,</li>
        <li>This website didn't take forever to load (hopefully), and yet</li>
        <li>It is minimal, elegant and effective.</li>
    </ul>
<del>ideally</del> THAT IS how all websites should be.
</p>
{% endblock content %}
